<div id="signInPanel">
        <h1>Sign In</h1>
        <form class="form-group">
            <input type="text" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
            <input type="submit" class="btn btn-default" value="Sign In">
        </form>
        <h3>Or sign-in through..</h3>
        <button class="btn btn-block btn-social btn-facebook">Facebook</button>
        <button class="btn btn-block btn-social btn-google">Google+</button>
        <h3> Don't have an account yet?</h3>
        <button class = "btn btn-block btn-default">Register Now</button>
        <br>
</div>
